@import './reset.css';
@import './tabs.css';

:root {
    --swiper-pagination-color: green;
}

html,
body {
    font-family: 'Raleway', sans-serif;

    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.none {
    display: none !important;
}

.container {
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 15px;
}

.content {
    padding: 35px 0 0 0;
    text-align: center;
}

.title {
    font-size: 50px;
    margin-bottom: 40px;
}

.no-select {
    user-select: none;
}

.swiper {
    max-width: 600px;
    border-radius: 40px;
}

.swiper-pagination {
    position: static;
    padding-top: 25px;
}

.swiper-slide {
    border-radius: 40px;
    overflow: hidden;
}
.swiper-slide img {
    aspect-ratio: 16/9;
}
